.header{
  color:black;
}

.header img{
  color:black;
  background-position: center;
  background-repeat:no-repaeat;
  padding-left:500px;
  padding-right:500px;

}

h1{
  padding-left:500px;
  padding-right:500px;
}

h2{
  padding-left:500px;
  padding-right:500px;
}

.nav-list{
  padding-left:500px;
  padding-right:500px;
}
